body{
    margin: 0;
    position: relative;
    padding: 0;
    box-sizing: border-box;
   
}
.sky{
    margin: 0;
   background-image: url('sky.jpg');
   width: 100vw;
   height: 100vh; 
   /* border-top: 5px solid white;
   border-left: 5px solid orange;
   border-left: 5px solid green;     */
   
    /* box-sizing: border-box; */
    z-index: 1;
}
.city{  
    background-image: url('city.png'); 
   position: absolute;
   top: 115px;
   width: 500%;
   height:246px;
   animation-name: animation2;
   animation-duration: 1s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   z-index: 2;
}

.road{
background-image: url('road.jpg');
width: 500%;
position: absolute;
top:360px;
height: 264px;
animation-name:animation2;
animation-iteration-count: infinite;
animation-duration: 1s;
animation-timing-function: linear;
z-index: 3;
overflow-x: hidden;

}
.moon{
position: absolute;
width: 150px;
height: 150px;
top: 10px;
right: 30px;
z-index: 4;
}
.car{   
width: 415px;
position: absolute;
top: 312px;
left: 403px;
z-index:5;
}
.wheel1{
left: 441px;
top: 405px;
width: 71px;
position: absolute;
animation-name:animation1;
animation-iteration-count: infinite;
animation-duration: 1ms;
z-index: 6;
}
.wheel2{
position: absolute;
width: 71px;
top: 405px;
left: 696px;
animation-name:animation1;
animation-iteration-count: infinite;
animation-duration: 1ms;
z-index: 7;

}

.falg{
position: absolute;
width: 90px;
top: 296px;
left: 697px;
}
h1{
    margin: 0;
    padding: 0;
    text-align: center;
}
.alp1{
background-color:orange ;
margin-right: 10px;
}
.alp2{
background-color:#ffff;
margin-right: 10px;
}
.alp3{
background-color:green ;
}

@keyframes animation1 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes animation2 {
   from
   {
    transform: translateX(0px);
   }
   to{
    transform: translateX(-300px);
   }

}
@media only screen and (max-width:500px) {
    .car{   
        width: 300px;
        position: absolute;
        top: 312px;
        left: 50px;
        
        }
        .wheel2{
            position: absolute;
            width: 50px;
            top: 380px;
            left: 78px;
            animation-name:animation1;
            animation-iteration-count: infinite;
            animation-duration: 1ms;
            z-index: 7;
            
            } 
            .wheel1{
                left: 262px;
                top: 380px;
                width: 50px;
                position: absolute;
                animation-name:animation1;
                animation-iteration-count: infinite;
                animation-duration: 1ms;
                z-index: 6;
                }
                .moon{
                    position: absolute;
                    width: 100px;
                    height: 100px;
                    top: 55px;
                    right: 30px;
                    z-index: 4;
                    }
                    .falg{
                        position: absolute;
                        width: 50px;
                        top: 310px;
                        left: 255px;
                        z-index: 8;
                        }
}

