body{
    background-color: #51cf66;
}
.div1{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin-bottom: 10px;
   background-color: #ffd43b;
}
.main{
    
    width: 200px;
    margin: 0 auto;
}
.main ol{
    display: flex;
    flex-direction: column;
    /* align-items:center; */
    
}
a:link{
    display: block;
    font-size: 26px;
    margin-left: 60px;
}
h1{
    text-align: center;
}
.divA{
    transition: width 2s;
    transition-timing-function: ease;
}
.divB{
   transition: width 2s,height 3s;
   transition-timing-function: ease-in;
}
.divC{
    transition: width 2s;
    transition-timing-function: linear;  
}
.divD{
    transition: width 2s;
    transition-timing-function: ease; 
}
.divE{
    transition: width 2s;
    transition-timing-function: ease; 
}
.divF{
    transition: width 2s;
    transition-timing-function: ease-in-out;  
}
.divG{
    transition: width 2s;
    transition-timing-function: ease-inSS;  
}
.divA:hover{   
width: 500px;
cursor: pointer;
}
.divB:hover{
    width: 250px;
    height: 300px;
    cursor: pointer;
}
.divC:hover{
    width: 500px;
    cursor: pointer;
}
.divD:hover{
    width: 500px;
    cursor: pointer;
}
.divE:hover{
    width: 500px;
    cursor: pointer;
}
.divF:hover{
    width: 500px;
    cursor: pointer;
}
.divG:hover{
    width: 500px;
    cursor: pointer;
}
